//- layout.pug
html
  head
    block head
    block links
        link(
            href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" 
            rel="stylesheet"
        )
        link(
            href="/stylesheets/main.css" 
            rel="stylesheet"
        )
    block scripts

    title Kahibalo
        if title
            | &nbsp;• #{title}
  body
    main#app
        block content

    script.
        const DARK_THEME = "dark-theme";
        const LIGHT_THEME = "light-theme";
        const THEME_KEY = "theme";

        function setTheme(theme) {
            button = document.getElementById("theme-toggle");
            localStorage.setItem(THEME_KEY, theme);
            document.body.className = theme;
            button.innerText = theme === DARK_THEME ? "Light" : "Dark"
        }

        function toggleTheme() {
            if (localStorage.getItem(THEME_KEY) === DARK_THEME){
                setTheme(LIGHT_THEME);
            } else {
                setTheme(DARK_THEME);
            }
        }

        (function () {
            if (localStorage.getItem(THEME_KEY) === DARK_THEME) {
                setTheme(DARK_THEME);
            } else {
                setTheme(LIGHT_THEME);
            }
        })();
