extends base.pug

block content
    div#entry-container
        div.content-entry
            h1 #{title} 
            p #{content}
            p #{content}
            p #{content}
            p #{content}
        div.image-entry
            img(src="https://live.staticflickr.com/5126/5238211378_195bb2a700_b.jpg")